body{
    color: green;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}